body {
	background-color: #000F4D;
}

.logo h1 {
	background-image: url('/images/logo.png');
	background-size: auto 45px;
    background-repeat: no-repeat;
    background-position: left center;
}

.page {
	min-height: 350px;
	background-color: #fff;
}

.footer {
	box-shadow: rgba(0, 0, 0, 0.117647) 0px -3px 6px;

	color: #fff;
}