.c-modal__header {
    color: #ffffff !important;
    background-color: #0C203F;
}

.c-modal__content {
    padding: 0 !important;
}

.c-modal__iframe {
    border: none;
}

.c-modal__footer {
    border-top: 1px solid #CCCCCC !important;
}